@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "normalize";
@import "layout";
$primary-color: #FACC02;
$text-color: #282A33;

body{
	font: 400 14px/1.3 Roboto, sans-serif;
	color: $text-color;
	background: #FAF7F8;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}
// a:hover, a:active {
// 	color: $primary-color;
// }
/* Layout */
.ba-container{
	padding-left: 30px;
	padding-right: 30px;
	max-width: 1230px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in, fill .3s ease-in;
	color: $text-color;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border: 3px solid $primary-color;
	border-radius: 50px;
	padding: 13px 20px 12px 16px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	border-color: transparent;
	background-color: $primary-color;
	color: $text-color;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-header {
	margin-top: 20px;
	padding: 10px 0 20px;
}
.ba-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.ba-logo {
		display: flex;
	&__text {
		max-width: 70px;
		margin-left: 3px;
	}
	}
	.ba-socials {
		display: flex;
		align-items: center;
		a + a {
			margin-left: 5px;
		}
		
	}
}
.ba-menu {
	display: flex;
	&__list + .ba-menu__list{
		margin-left: 31px;
	}
	& a:hover {
		color: $primary-color;
	}

}
.ba-about-section {
	background: url(../img/bg-1.png) no-repeat 100% 0%;
	background-color: #FAF7F8;
}
.ba-about {
	margin-bottom: 70px;
	padding-top: 205px;
	&__title {
		font-size: 64px;
	}
	&__desc {
		max-width: 400px;
		word-spacing: 1.6px;
		margin-bottom: 70px;
	}
}
.ba-services-section {
	background: #E4E5E7;
	padding: 74px 0;
}
.ba-services {
	&__item {
		text-align: center;
	}
	&__title {
		&::after {
			content: '';
			margin: 0 auto;
    		display: block;
    		height: 2px;
    		background: $primary-color;
			width: 70px;
			margin-top: 30px;
		}
	}
	p {
		padding-top: 15px;
		margin-bottom: 110px;
	}
	.ba-centre {
		text-align: center;
	}
}
.ba-document {
	&__title {
		font-size: 24px;
		margin-bottom: 0;
	}
	&__desc {
		margin-bottom: 74px;
		display: block;
	}
	padding: 74px 0;
	.ba-row {
		padding-left: 30px;
		margin-bottom: 76px;
	}
	.ba-col-3 {
		border-left: 2px solid $primary-color;
	}
}
.ba-result-section {
	background: url('../img/photo_2.jpg') no-repeat 50%;
	background-color: #FAF7F8;
	background-size: cover;
	padding: 50px 0;
	.ba-result {
		text-align: center;
		&__small {
			background: url('../img/small.png') no-repeat 50%;
			padding: 20px;
		}
		&__big {
			background: url('../img/big.png') no-repeat 50%;
			padding: 30px;
		}
		&__title {
			font-size: 64px;
			margin: 0;
			padding: 15px;
			&--year {
				position: relative;
				top: 10px;
			}
			&--vacansy {
				position: relative;
				top: 10px;
			}
			&--client {
				position: relative;
				top: 10px;
			}
		}
		&__desc {
			position: relative;
			font-size: 14px;
			left: -55px;
			top: -15px;
		}
	}
}
.ba-tel:hover {
	color: $primary-color;
}
.ba-footer {
	margin-top: 95px;
	background: url('../img/Rectangle.png') no-repeat 50%;
	background-color: #FAF7F8;
	background-size: cover;
	padding: 90px 0 30px;
	.ba-partners {
		display: flex;
		justify-content: center;
		align-items: center;

		&__block {
			margin-left: 50px;
			margin-bottom: 78px;
		}
	}
	.ba-tel a{
		color: #777A89;
	}
	
}
.ba-copy__info {
		padding-left: 20px;
}
.ba-back-top :hover {
	color: #fff;
}
.ba-nav--footer{
	.ba-copy, .ba-logo__text, .ba-tel {
		color: #777A89;
	}
	.ba-menu a, .ba-back-top a{
		color: #777A89;
		&:hover {
			color: #fff;
		}
	}
	.ba-tel:hover{
		color: #fff;
	}
	.ba-tel {
		margin-right: 15px;
	}
}

.ba-current {
	color: $primary-color;
}
.ba-works-section {
	background: url(../img/bg-2.png) no-repeat 50%;
	background-color: #FAF7F8;
	background-size: cover;
	padding-bottom: 20px;
	// margin-bottom: 140px;
}
.ba-works {
	padding-top: 200px;
	&__title {
		font-size: 24px;
	}
	&__desc {
		max-width: 450px;
		word-spacing: 1.6px;
		margin-bottom: 70px;
	}
	.ba-button {
		margin-bottom: 25px;
	}
	
}
.ba-documents-section {
	background: url(../img/bg-3.png) no-repeat 50%;
	background-color: #FAF7F8;
	background-size: cover;
	// margin-bottom: 74px;
	padding-bottom: 25px;
}
.ba-documents {
	padding-top: 200px;
	&__title {
		font-size: 24px;

	}
	&__desc {
		max-width: 318px;
		word-spacing: 1.6px;
		margin-bottom: 70px;
	}
	.ba-button {
		margin-bottom: 70px;
		background-color: #FAF7F8;
		&:hover {
			background-color: $primary-color;
		}
	}
	
}
.ba-scroll {
	text-align: center;
	margin-top: -25px;
	margin-bottom: 74px;
	& a {
		&:hover svg path {
			fill: #000;
		}
		&:hover circle {
			fill: $primary-color;
		}
	}
} 
.ba-need {
	text-align: center;
	&__title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 75px;
	}
	&__item {
		background-color: #fff;
		padding: 30px 0 0;
	}
	.ba-scroll {
		position: relative;
		bottom: -25px;
	}
}
.ba-how-section {
	margin-bottom: 62px;
}
.ba-how {
	&__img {
		margin-bottom: 70px;
	}
	&__title {
		text-align: center;
		font-size: 24px;
		
	}
	&-block{
		margin-top: 50px;
		// background: rgba(0, 0, 0, 0.05);
		background: #fff;
		text-align: center;
		padding: 30px 50px 50px;
		&__title {
		margin-bottom: 45px;
		}
		p {
			margin-bottom: 100px;
		}
	}
	.ba-button {
		min-width: 170px;
	}
}
.ba-how-text {
	background: #fff;
	padding: 26px 26px 26px 59px;
	margin-bottom: 75px;
}
.ba-how-btn {
	text-align: center;
}
.ba-burger {
	display: none;
}
.ba-about__mobile {
	display: none;
}

@media screen and (max-width: 1100px) {
	.ba-footer .ba-menu {
		display: none;
	}
}
@media screen and (max-width: 825px) {
	.ba-menu {
		display: none;
	}
	.ba-burger {
		margin-left: 20px;
		display: block;
	}
}
@media screen and (max-width: 768px) {
	.ba-documents {
		padding: 75px 0 40px;
	}
	// .ba-container {
	// 	padding: 0 60px;
	// }
	
	.ba-about-section {
		background-position: -65% 0%;
	}
	.ba-about__title {
		font-size: 24px;
	}
	.ba-about__desc {
		max-width: 250px;
	}
	
	.ba-medium-6 {
		width: 50%;
		margin: 30px 0;
	}
	.ba-medium-12 {
		width: 100%;
	}
	.ba-footer {
		background-position: 50%;
	}
	.ba-copy__info {
		padding-left: 10px;
	}
	.ba-tel {
		margin-right: 10px;
	}
}
@media screen and (max-width: 692px){
	.ba-about-section {
		background-position: -25% 0%;
	}
	.ba-medium-12 {
		width: 100%;
	}
	
	.ba-footer .ba-tel {
		display: none;
	}
	.ba-footer {
		&-menu {
			display: none;
		}
	}
	.ba-socials {
		display: none;
		.ba-tel, .ba-vk, .ba-skype {
			display: none;
		}
	}

}
@media screen and (max-width: 505px){
	.ba-container {
		padding: 0 15px;
	}
	.ba-services p {
		margin-bottom: 0;
	}
	.ba-about-section {
		background-position: -10%;
		.ba-about {
		margin-bottom: 40px;
		}
	}
	.ba-about__desc {
		display: none;
	}
	.ba-about__mobile {
		display: block;
		max-width: 170px;
		margin-bottom: 90px;
	}
	.ba-works-section {
		background-position: 49%;
		.ba-button {
			background-color: #fff;
			&:hover {
				background-color: $primary-color;
			}
		}
	}
	.ba-small {
		width: 100%;
	}
	.ba-nav {
		display: flex;
		justify-content: space-between;
	}
	.ba-copy {
		display: none;
	}
	.ba-medium-12 {
		width: 100%;
	}
	.ba-footer{
		padding: 10px 0 15px;
		.ba-partners {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			&__block + .ba-partners__block {
				margin-left: 10px;
			}
			&__block {
				width: 30%;
				margin: 0 0 20px;
				
				svg {
					width: 80px;
				}			
			}
		}
		&-menu {
			display: none;
		}
		.ba-socials {
			display: none;
			.ba-tel, .ba-vk, .ba-skype {
				display: none;
			}
		}
	}
	
	.ba-about-section {
		background: url(../img/mobile-bg-1.png) no-repeat 50%;
		background-size: cover;
		.ba-button {
			background-color: #FAF7F8;
			&:hover {
				background-color: $primary-color;
			}
		}
	}
}
.ba-skype:hover svg path{
	fill: $primary-color;
}